/**
 * IE6 Utility Classes and Fallbacks
 * These classes help provide IE6-compatible alternatives to modern CSS
 */

/* Color fallbacks for IE6 (doesn't support CSS variables) */
.ie6-color-black {
  color: #454545;
}

.ie6-bg-black {
  background-color: #454545;
}

.ie6-color-blue {
  color: #4387f4;
}

.ie6-bg-blue {
  background-color: #4387f4;
}

.ie6-color-gray {
  color: #707070;
}

.ie6-bg-gray {
  background-color: #707070;
}

/* Box model utilities for IE6 */
.ie6-haslayout {
  /* Trigger hasLayout in IE6 */
  zoom: 1;
}

.ie6-clearfix {
  /* Clear floats in IE6 */
  &:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  /* IE6 hack */
  * html & {
    height: 1%;
  }
}

/* Display utilities for IE6 */
.ie6-inline-block {
  display: inline-block;

  /* IE6/7 fallback */
  * html & {
    display: inline;
    zoom: 1;
  }
}

.ie6-block {
  display: block;
}

.ie6-inline {
  display: inline;
}

.ie6-none {
  display: none;
}

/* Position utilities for IE6 */
.ie6-relative {
  position: relative;
  /* Trigger hasLayout */
  zoom: 1;
}

.ie6-absolute {
  position: absolute;
}

.ie6-fixed {
  position: fixed;

  /* IE6 fallback - uses absolute */
  * html & {
    position: absolute;
    /* JavaScript polyfill will handle scroll updates */
  }
}

/* Float utilities */
.ie6-float-left {
  float: left;

  /* Fix IE6 double margin bug */
  * html & {
    display: inline;
  }
}

.ie6-float-right {
  float: right;

  /* Fix IE6 double margin bug */
  * html & {
    display: inline;
  }
}

.ie6-float-none {
  float: none;
}

/* Width and height utilities */
.ie6-full-width {
  width: 100%;
}

.ie6-auto-width {
  width: auto;
}

.ie6-full-height {
  height: 100%;
}

.ie6-auto-height {
  height: auto;
}

/* Min/Max dimensions (IE6 doesn't support these) */
.ie6-min-width-300 {
  min-width: 300px;

  * html & {
    width: expression(this.width < 300 ? '300px' : 'auto');
  }
}

.ie6-max-width-1200 {
  max-width: 1200px;

  * html & {
    width: expression(this.width > 1200 ? '1200px' : 'auto');
  }
}

.ie6-min-height-100 {
  min-height: 100px;

  * html & {
    height: auto !important;
    height: 100px;
  }
}

/* Opacity utilities */
.ie6-opacity-100 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.ie6-opacity-75 {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.ie6-opacity-50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.ie6-opacity-25 {
  opacity: 0.25;
  filter: alpha(opacity=25);
}

.ie6-opacity-0 {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* Text utilities */
.ie6-text-left {
  text-align: left;
}

.ie6-text-center {
  text-align: center;
}

.ie6-text-right {
  text-align: right;
}

.ie6-text-justify {
  text-align: justify;
}

/* Overflow utilities */
.ie6-overflow-hidden {
  overflow: hidden;
  /* Trigger hasLayout */
  * html & {
    position: relative;
  }
}

.ie6-overflow-auto {
  overflow: auto;
}

.ie6-overflow-scroll {
  overflow: scroll;
}

/* Spacing utilities (using pixels for IE6 compatibility) */
.ie6-m-0 {
  margin: 0;
}

.ie6-m-10 {
  margin: 10px;
}

.ie6-m-20 {
  margin: 20px;
}

.ie6-mt-0 {
  margin-top: 0;
}

.ie6-mt-10 {
  margin-top: 10px;
}

.ie6-mt-20 {
  margin-top: 20px;
}

.ie6-mr-0 {
  margin-right: 0;
}

.ie6-mr-10 {
  margin-right: 10px;
}

.ie6-mr-20 {
  margin-right: 20px;
}

.ie6-mb-0 {
  margin-bottom: 0;
}

.ie6-mb-10 {
  margin-bottom: 10px;
}

.ie6-mb-20 {
  margin-bottom: 20px;
}

.ie6-ml-0 {
  margin-left: 0;
}

.ie6-ml-10 {
  margin-left: 10px;
}

.ie6-ml-20 {
  margin-left: 20px;
}

.ie6-p-0 {
  padding: 0;
}

.ie6-p-10 {
  padding: 10px;
}

.ie6-p-20 {
  padding: 20px;
}

.ie6-pt-0 {
  padding-top: 0;
}

.ie6-pt-10 {
  padding-top: 10px;
}

.ie6-pt-20 {
  padding-top: 20px;
}

.ie6-pr-0 {
  padding-right: 0;
}

.ie6-pr-10 {
  padding-right: 10px;
}

.ie6-pr-20 {
  padding-right: 20px;
}

.ie6-pb-0 {
  padding-bottom: 0;
}

.ie6-pb-10 {
  padding-bottom: 10px;
}

.ie6-pb-20 {
  padding-bottom: 20px;
}

.ie6-pl-0 {
  padding-left: 0;
}

.ie6-pl-10 {
  padding-left: 10px;
}

.ie6-pl-20 {
  padding-left: 20px;
}

/* Border utilities */
.ie6-border {
  border: 1px solid #ccc;
}

.ie6-border-top {
  border-top: 1px solid #ccc;
}

.ie6-border-right {
  border-right: 1px solid #ccc;
}

.ie6-border-bottom {
  border-bottom: 1px solid #ccc;
}

.ie6-border-left {
  border-left: 1px solid #ccc;
}

.ie6-border-none {
  border: none;
}

/* Box shadow approximation for IE6 */
.ie6-box-shadow {
  /* IE6 can't do box-shadow, use borders instead */
  * html & {
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
  }
}

/* Gradient approximation for IE6 */
.ie6-gradient-blue {
  background: #4387f4;

  * html & {
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#4387f4', endColorstr='#2c5aa0', GradientType=0);
  }
}

.ie6-gradient-gray {
  background: #eee;

  * html & {
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  }
}

/* Cursor utilities */
.ie6-cursor-pointer {
  cursor: pointer;
  /* IE6 hand cursor */
  cursor: hand;
}

.ie6-cursor-default {
  cursor: default;
}

.ie6-cursor-text {
  cursor: text;
}

/* Z-index utilities */
.ie6-z-0 {
  z-index: 0;
}

.ie6-z-10 {
  z-index: 10;
}

.ie6-z-100 {
  z-index: 100;
}

.ie6-z-1000 {
  z-index: 1000;
}

/* Visibility utilities */
.ie6-visible {
  visibility: visible;
}

.ie6-hidden {
  visibility: hidden;
}

/* List style utilities */
.ie6-list-none {
  list-style: none;
}

.ie6-list-disc {
  list-style: disc;
}

.ie6-list-decimal {
  list-style: decimal;
}

/* Vertical align utilities */
.ie6-align-top {
  vertical-align: top;
}

.ie6-align-middle {
  vertical-align: middle;
}

.ie6-align-bottom {
  vertical-align: bottom;
}

/* White space utilities */
.ie6-nowrap {
  white-space: nowrap;
}

.ie6-pre {
  white-space: pre;
}

.ie6-pre-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Font weight utilities */
.ie6-font-normal {
  font-weight: normal;
}

.ie6-font-bold {
  font-weight: bold;
}

/* Font style utilities */
.ie6-font-italic {
  font-style: italic;
}

.ie6-font-normal-style {
  font-style: normal;
}

/* Text decoration utilities */
.ie6-underline {
  text-decoration: underline;
}

.ie6-line-through {
  text-decoration: line-through;
}

.ie6-no-underline {
  text-decoration: none;
}
