/* Import IE6 utility classes */
@use './polyfill/ie6-utilities.scss';

:root {
  --black: hsl(0deg 0% 27%);
  --black-focus: hsl(0deg 0% 18%);
  --black-soft: hsl(0deg 0% 27% / 75%);
  --blue: hsl(217deg 89% 61%);
  --blue-active: hsl(217deg 89% 40%);
  --gray: rgb(112 112 112);
}

@page {
  height: 297mm;
  width: 210mm;
  margin: 0;
  padding: 0;
  size: a4;

  :footer,
  :header {
    display: none;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
}

html {
  box-sizing: border-box;
  font:
    62.5%/1.5 'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;
  /* IE6 fallback color */
  color: #454545;
  color: var(--black);
}

html,
body,
#root,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

ul {
  margin: 0;
  padding-left: 1.6rem;
}

ul li + li {
  margin-top: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  /* IE6 fallback color */
  color: #454545;
  color: var(--black);
}


@media not print {
  a:not(.pdf) {
    display: inline-block;
    position: relative;
    /* IE6 fallback color */
    color: #454545;
    color: var(--black);
    background-clip: text;
    background-image:
      linear-gradient(
        to right,
        var(--blue),
        var(--blue) 50%,
        var(--black) 50%
      );
    background-position: -100%;
    background-size: 200% 100%;
    transition: all .3s ease-in-out;
    -webkit-text-fill-color: transparent;

    &::before {
      content: '';
      will-change: all;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 3px;
      width: 0;
      /* IE6 fallback color */
      background: #4387f4;
      background: var(--blue);
      transition: all .3s ease-in-out;
    }

    &:hover {
      background-position: 0;
    }

    &:hover::before {
      width: 100%;
    }
  }
}


a:focus {
  /* IE6 fallback color */
  color: #2e2e2e;
  color: var(--black-focus);
}

body {
  font-size: 1.6rem;
  background: #eee;
}
