:root {
  --black: hsl(0deg 0% 27%);
  --black-focus: hsl(0deg 0% 18%);
  --black-soft: hsl(0deg 0% 27% / 75%);
  --blue: hsl(217deg 89% 61%);
  --blue-active: hsl(217deg 89% 40%);
  --gray: rgb(112 112 112);
}

@page {
  margin: 0;
  padding: 0;
  size: a4;
}

html {
  box-sizing: border-box;
  font:
    62.5%/1.618 'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;
  color: var(--black);
}

html,
body,
#root,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 1.6rem;
}

ul li + li {
  margin-top: .6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--black);
  transform: all .3s ease;
}

a:hover {
  color: var(--black-soft);
}

a:focus {
  color: var(--black-focus);
}

body {
  font-size: 1.6rem;
  background: #eee;
}
